h1, h2 {
	font-family: 'Concert One', cursive;
	font-size: 32px;
	font-weight: bold;
	color: black;
}

p {
	font-family: 'Poiret One', cursive;
	font-size: 11px;
	font-weight: normal;
	color: grey;

}